html {
    font-size: 22px
}

body {
    background-color: cornflowerblue;
    color:azure;
}

table, tr, th, td, caption {
    border: 1px solid black;
    font-family: 'Courier New', 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;


}

